/* レスポンシブ */
@media screen and (min-width: 1201px) {
    .content {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .hide-sm {
        width:100%;
    }
}
@media screen and (max-width: 575px) {
    .hide-sm {
        display:none;
    }
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header-nav {
    background-color: rgb(83, 80, 255);
}
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
main {
    flex: 1;
    padding-top: 55px;
}
footer {
    background-color: rgb(210, 210, 240);
}
#card {
    height: 250px;
}
.tbl-title {
    width: 40%;
}
.form-control::placeholder{
    color: #cccccc;
}
#program_display {
    overflow:scroll;
}


.g-recaptcha {
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    width:300px;
    margin-top:20px;
}
